Repository pyth-network/pyth-crosschain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyth-network/web-team, @pyth-network/core-team, @cprussin

feat(staking): improve tester app feedback
  apps/staking/src/components/WalletTester/index.tsx
Owners: @pyth-network/web-team

Remove unneeded logging
  apps/staking/src/middleware.ts
Owners: @pyth-network/web-team

Code gen in TS
  lazer/sdk/js/package.json
  lazer/sdk/js/src/generated/proto.d.ts
  lazer/sdk/js/src/generated/proto.js
  pnpm-lock.yaml
Owners: @pyth-network/web-team

Update proto file and build generated files
  lazer/Cargo.lock
  lazer/sdk/proto/publisher_update.proto
  lazer/sdk/proto/pyth_lazer.proto
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/build.rs
  lazer/sdk/rust/protocol/src/lib.rs
Owners: none

add proto files
  lazer/sdk/proto/lazer.proto
  lazer/sdk/proto/publisher_update.proto
Owners: none

feat(target_chains/ton): add helper function to parse price IDs beyond a single cell and enhance update handling
  target_chains/ton/contracts/contracts/Pyth.fc
  target_chains/ton/contracts/tests/PythTest.spec.ts
  target_chains/ton/contracts/tests/utils/pyth.ts
Owners: none

temp
  target_chains/ethereum/contracts/forge-test/Pyth.t.sol
Owners: none

refactor(tests): format price feed IDs for improved readability
  target_chains/ton/contracts/tests/PythTest.spec.ts
  target_chains/ton/contracts/tests/utils/pyth.ts
Owners: none

refactor(pythnet/pythnet_sdk): add test for update data with fixture (#2551)
  pythnet/pythnet_sdk/src/wire.rs
Owners: none

feat(lazer): add missing traits
  lazer/Cargo.lock
  lazer/sdk/rust/protocol/Cargo.toml
  lazer/sdk/rust/protocol/src/payload.rs
Owners: none

feat(entropy): Add callback failure states to the contract (#2546)
  pnpm-lock.yaml
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
  target_chains/ethereum/contracts/package.json
  target_chains/ethereum/contracts/remappings.txt
  target_chains/ethereum/entropy_sdk/solidity/EntropyEvents.sol
  target_chains/ethereum/entropy_sdk/solidity/EntropyStatusConstants.sol
  target_chains/ethereum/entropy_sdk/solidity/EntropyStructs.sol
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyEvents.json
  target_chains/ethereum/entropy_sdk/solidity/abis/IEntropy.json
Owners: @pyth-network/web-team

moving stuff around
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
  target_chains/ethereum/entropy_sdk/solidity/EntropyEvents.sol
  target_chains/ethereum/entropy_sdk/solidity/EntropyStructs.sol
  target_chains/ethereum/entropy_sdk/solidity/IEntropy.sol
Owners: none

getting tests in place
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyEvents.json
  target_chains/ethereum/entropy_sdk/solidity/abis/IEntropy.json
Owners: none

fixing stuff
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
  target_chains/ethereum/entropy_sdk/solidity/EntropyEvents.sol
Owners: none

fixing stuff
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
Owners: none

more stuff
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
  target_chains/ethereum/entropy_sdk/solidity/EntropyErrors.sol
Owners: none

rebase
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyErrors.json
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyEvents.json
  target_chains/ethereum/entropy_sdk/solidity/abis/IEntropy.json
Owners: none

cleaning up
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
Owners: none

cleaning up possible error case
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
Owners: none

Update proto file
  lazer/sdk/js/package.json
  lazer/sdk/js/src/generated/proto.d.ts
  lazer/sdk/js/src/generated/proto.js
  lazer/sdk/proto/publisher_update.proto
  pnpm-lock.yaml
Owners: @pyth-network/web-team

improve tests
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
  target_chains/ethereum/entropy_sdk/solidity/EntropyErrors.sol
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyErrors.json
Owners: none

cleanup
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/entropy_sdk/solidity/EntropyErrors.sol
  target_chains/ethereum/entropy_sdk/solidity/EntropyEvents.sol
  target_chains/ethereum/entropy_sdk/solidity/EntropyStructs.sol
  target_chains/ethereum/entropy_sdk/solidity/IEntropy.sol
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyErrors.json
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyEvents.json
  target_chains/ethereum/entropy_sdk/solidity/abis/IEntropy.json
Owners: none

cleanup
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/entropy_sdk/solidity/EntropyEvents.sol
Owners: none

cleanup
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyEvents.json
  target_chains/ethereum/entropy_sdk/solidity/abis/IEntropy.json
Owners: none

rename
  lazer/sdk/js/src/generated/proto.d.ts
  lazer/sdk/js/src/generated/proto.js
  lazer/sdk/proto/publisher_update.proto
  lazer/sdk/proto/pyth_lazer_transaction.proto
  lazer/sdk/rust/protocol/build.rs
  lazer/sdk/rust/protocol/src/lib.rs
Owners: none

final cleanup
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
Owners: none

feat: use sendTransaction for OIS (#2555)
  apps/staking/src/hooks/use-api.tsx
  governance/pyth_staking_sdk/integration-tests/all.test.ts
  governance/pyth_staking_sdk/integration-tests/keypairs/alice.json
  governance/pyth_staking_sdk/integration-tests/keypairs/bob.json
  governance/pyth_staking_sdk/integration-tests/keypairs/localnet-authority.json
  governance/pyth_staking_sdk/integration-tests/keypairs/pyth-mint.json
  governance/pyth_staking_sdk/integration-tests/keys.ts
  governance/pyth_staking_sdk/integration-tests/programs/integrity_pool.so
  governance/pyth_staking_sdk/integration-tests/programs/publisher_caps.so
  governance/pyth_staking_sdk/integration-tests/programs/staking.so
  governance/pyth_staking_sdk/integration-tests/start-validator.ts
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
  governance/pyth_staking_sdk/src/utils/transaction.ts
  governance/pyth_staking_sdk/src/utils/wallet.ts
Owners: @pyth-network/web-team

Update index.tsx
  apps/insights/src/components/Explanations/index.tsx
Owners: @pyth-network/web-team

feat: add a staking endpoint to return a stake summary per account
  apps/staking/src/app/api/v1/amount_staked_per_account/route.ts
  apps/staking/src/config/server.ts
  apps/staking/turbo.json
  governance/pyth_staking_sdk/package.json
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
  governance/pyth_staking_sdk/src/utils/position.ts
  pnpm-lock.yaml
Owners: @pyth-network/web-team

chore(staking-sdk): add logging to debug amount_staked_per_account
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
Owners: none

generate struct abi
  target_chains/ethereum/entropy_sdk/solidity/package.json
Owners: @pyth-network/web-team

ci
  .github/workflows/ci-fortuna.yml
  apps/fortuna/src/command/inspect.rs
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyStatusConstants.json
Owners: @pyth-network/core-team

chore(staking-sdk): rev staking-sdk version
  governance/pyth_staking_sdk/package.json
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
Owners: @pyth-network/web-team

chore(staking): remove amount_staked_per_account
  apps/staking/src/app/api/v1/amount_staked_per_account/route.ts
  apps/staking/src/config/server.ts
  apps/staking/turbo.json
Owners: @pyth-network/web-team

.github/CODEOWNERS:

apps/api-reference @pyth-network/web-team
apps/entropy-debugger @pyth-network/web-team
apps/insights @pyth-network/web-team
apps/staking @pyth-network/web-team
packages/app-logger @pyth-network/web-team
packages/component-library @pyth-network/web-team
packages/fonts @pyth-network/web-team
packages/known-publishers @pyth-network/web-team
packages/next-root @pyth-network/web-team
Dockerfile.node @pyth-network/web-team
lerna.json @pyth-network/web-team
package.json @pyth-network/web-team
pnpm-workspace.yaml @pyth-network/web-team
turbo.json @pyth-network/web-team
.npmrc @pyth-network/web-team
.nvmrc @pyth-network/web-team
/.github/ @pyth-network/core-team
/.github/CODEOWNERS @pyth-network/core-team
.github/workflows/publish-js.yml @pyth-network/web-team
.github/workflows/ci-turbo-build.yml @pyth-network/web-team
.github/workflows/ci-turbo-test.yml @pyth-network/web-team

flake.lock @cprussin
*.nix @cprussin
.envrc @cprussin
