Repository pyth-network/pyth-crosschain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyth-network/web-team, @pyth-network/core-team, @cprussin

.github/CODEOWNERS:

apps/api-reference @pyth-network/web-team
apps/entropy-debugger @pyth-network/web-team
apps/insights @pyth-network/web-team
apps/staking @pyth-network/web-team
packages/app-logger @pyth-network/web-team
packages/component-library @pyth-network/web-team
packages/fonts @pyth-network/web-team
packages/known-publishers @pyth-network/web-team
packages/next-root @pyth-network/web-team
Dockerfile.node @pyth-network/web-team
lerna.json @pyth-network/web-team
package.json @pyth-network/web-team
pnpm-workspace.yaml @pyth-network/web-team
turbo.json @pyth-network/web-team
.npmrc @pyth-network/web-team
.nvmrc @pyth-network/web-team
/.github/ @pyth-network/core-team
/.github/CODEOWNERS @pyth-network/core-team
.github/workflows/publish-js.yml @pyth-network/web-team
.github/workflows/ci-turbo-build.yml @pyth-network/web-team
.github/workflows/ci-turbo-test.yml @pyth-network/web-team

flake.lock @cprussin
*.nix @cprussin
.envrc @cprussin

fix: update fortuna version to 7.4.5 and enhance transaction submission logging
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/eth_utils/utils.rs
  apps/fortuna/src/keeper/process_event.rs
Owners: none

refactor: remove unused chain_id and sequence_number parameters from transaction submission functions
  apps/fortuna/src/eth_utils/utils.rs
  apps/fortuna/src/keeper/process_event.rs
Owners: none

fix: update fortuna version to 7.4.5 and enhance transaction submission logging (#2456)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/eth_utils/utils.rs
Owners: none

fix ton rpc
  contract_manager/store/chains/TonChains.yaml
Owners: none

fix(fortuna): Propagate submission errors correctly
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/eth_utils/utils.rs
  apps/fortuna/src/keeper/process_event.rs
Owners: none

fix(fortuna): Propagate submission errors correctly (#2458)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/eth_utils/utils.rs
  apps/fortuna/src/keeper/process_event.rs
Owners: none

configurable backlog processing
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
Owners: none

gr
  .github/workflows/ci-pre-commit.yml
Owners: @pyth-network/core-team

hm
  .github/workflows/ci-pre-commit.yml
Owners: @pyth-network/core-team

chore: Pause pre-commit on branches (#2460)
  .github/workflows/ci-pre-commit.yml
Owners: @pyth-network/core-team

fix(fortuna): configurable backlog processing (#2459)
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/config.rs
  apps/fortuna/src/keeper.rs
Owners: none

chore: add proposal url to deactivate
  governance/xc_admin/packages/xc_admin_cli/src/index.ts
Owners: none

chore: add proposal url to deactivate (#2461)
  governance/xc_admin/packages/xc_admin_cli/src/index.ts
Owners: none

fix bug
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/eth_utils/utils.rs
Owners: none

gr
  .github/workflows/ci-pre-commit.yml
  .pre-commit-config.yaml
Owners: @pyth-network/core-team

fix(fortuna): Fix gas padding bug caused by refactor
  apps/fortuna/Cargo.lock
  apps/fortuna/Cargo.toml
  apps/fortuna/src/eth_utils/utils.rs
Owners: none

delete unnecessary API endpoints
  apps/argus/Cargo.lock
  apps/argus/Cargo.toml
  apps/argus/src/api.rs
  apps/argus/src/api/chain_ids.rs
  apps/argus/src/api/index.rs
  apps/argus/src/api/revelation.rs
  apps/argus/src/command/run.rs
Owners: none

Argus init
  apps/argus/.gitignore
  apps/argus/README.md
Owners: none

delete broken tests
  apps/argus/src/api.rs
Owners: none

use fortuna eth_utils
  apps/argus/Cargo.lock
  apps/argus/Cargo.toml
  apps/argus/src/chain/ethereum.rs
  apps/argus/src/command.rs
  apps/argus/src/command/generate.rs
  apps/argus/src/command/request_randomness.rs
  apps/argus/src/command/run.rs
  apps/argus/src/config.rs
  apps/argus/src/eth_utils.rs
  apps/argus/src/eth_utils/eth_gas_oracle.rs
  apps/argus/src/eth_utils/legacy_tx_middleware.rs
  apps/argus/src/eth_utils/nonce_manager.rs
  apps/argus/src/eth_utils/traced_client.rs
  apps/argus/src/eth_utils/utils.rs
  apps/argus/src/keeper.rs
  apps/argus/src/keeper/block.rs
  apps/argus/src/keeper/commitment.rs
  apps/argus/src/keeper/fee.rs
  apps/argus/src/keeper/process_event.rs
  apps/argus/src/keeper/track.rs
  apps/argus/src/lib.rs
Owners: none

fix
  apps/argus/Cargo.lock
  apps/argus/src/keeper/process_event.rs
Owners: none

chore: (partially) resume pre-commit CI action (#2463)
  .github/workflows/ci-pre-commit.yml
  .pre-commit-config.yaml
Owners: @pyth-network/core-team

Add Cargo.lock and renable pre-commit CI
  .pre-commit-config.yaml
  pythnet/pythnet_sdk/.gitignore
  pythnet/pythnet_sdk/Cargo.lock
Owners: none

fix(pulse): Miscellaneous contract fixes (#2454)
  target_chains/ethereum/contracts/contracts/pulse/IPulse.sol
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseErrors.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseEvents.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseState.sol
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Owners: none

hash chain state
  apps/argus/src/api.rs
  apps/argus/src/command/register_provider.rs
  apps/argus/src/command/run.rs
  apps/argus/src/command/setup_provider.rs
  apps/argus/src/config.rs
  apps/argus/src/keeper.rs
  apps/argus/src/keeper/commitment.rs
  apps/argus/src/keeper/process_event.rs
  apps/argus/src/lib.rs
  apps/argus/src/state.rs
Owners: none

delete unused struct
  apps/argus/src/config.rs
Owners: none

add test utils for pulse and gas benchmark
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
  target_chains/ethereum/contracts/forge-test/PulseGasBenchmark.t.sol
Owners: none

gas benchmark
  target_chains/ethereum/contracts/forge-test/PulseGasBenchmark.t.sol
Owners: none

cleanup
  target_chains/ethereum/contracts/forge-test/PulseGasBenchmark.t.sol
Owners: none

Update sui to use turbo
  pnpm-lock.yaml
  target_chains/sui/cli/README.md
  target_chains/sui/cli/turbo.json
  target_chains/sui/sdk/js/README.md
  target_chains/sui/sdk/js/package.json
  target_chains/sui/sdk/js/src/examples/SuiRelay.ts
  target_chains/sui/sdk/js/turbo.json
Owners: @pyth-network/web-team

Add to README about private key
  target_chains/sui/cli/README.md
  target_chains/sui/sdk/js/README.md
Owners: none

forgot this file
  target_chains/ethereum/contracts/forge-test/utils/PulseTestUtils.t.sol
Owners: none

fix: add coin conversion map to tests
  lazer/contracts/aptos/Move.toml
  lazer/contracts/aptos/tests/pyth_lazer_tests.move
Owners: none

Disable runs-on
  .github/workflows/ci-pre-commit.yml
Owners: @pyth-network/core-team

chore(ci): Disable runs-on (#2471)
  .github/workflows/ci-pre-commit.yml
Owners: @pyth-network/core-team

Fix vercel ignore command
  apps/api-reference/vercel.json
  apps/entropy-debugger/vercel.json
  apps/insights/vercel.json
  apps/staking/vercel.json
  governance/xc_admin/packages/xc_admin_frontend/vercel.json
  packages/component-library/vercel.json
Owners: @pyth-network/web-team

oops
  .github/workflows/ci-pre-commit.yml
Owners: @pyth-network/core-team

feat(insights): implement new disclaimer banners
  apps/insights/src/components/PriceFeed/chart-page.module.scss
  apps/insights/src/components/PriceFeed/chart-page.tsx
  apps/insights/src/components/PriceFeeds/coming-soon-list.tsx
  apps/insights/src/components/PriceFeeds/index.module.scss
  apps/insights/src/components/PriceFeeds/index.tsx
  apps/insights/src/components/Root/footer.module.scss
  apps/insights/src/components/Root/footer.tsx
Owners: @pyth-network/web-team

fix: add coin conversion map to tests (#2470)
  lazer/contracts/aptos/Move.toml
  lazer/contracts/aptos/tests/pyth_lazer_tests.move
Owners: none

fix race condition that allows duplicate slot
  apps/hermes/server/src/state/aggregate.rs
Owners: none
