Repository pyth-network/pyth-crosschain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyth-network/web-team, @pyth-network/core-team, @cprussin

.github/CODEOWNERS:

apps/api-reference @pyth-network/web-team
apps/entropy-debugger @pyth-network/web-team
apps/insights @pyth-network/web-team
apps/staking @pyth-network/web-team
packages/app-logger @pyth-network/web-team
packages/component-library @pyth-network/web-team
packages/fonts @pyth-network/web-team
packages/known-publishers @pyth-network/web-team
packages/next-root @pyth-network/web-team
Dockerfile.node @pyth-network/web-team
lerna.json @pyth-network/web-team
package.json @pyth-network/web-team
pnpm-workspace.yaml @pyth-network/web-team
turbo.json @pyth-network/web-team
.npmrc @pyth-network/web-team
.nvmrc @pyth-network/web-team
/.github/ @pyth-network/core-team
/.github/CODEOWNERS @pyth-network/core-team
.github/workflows/publish-js.yml @pyth-network/web-team
.github/workflows/ci-turbo-build.yml @pyth-network/web-team
.github/workflows/ci-turbo-test.yml @pyth-network/web-team

flake.lock @cprussin
*.nix @cprussin
.envrc @cprussin

feat(pulse): Pulse Gas Benchmark (#2467)
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
  target_chains/ethereum/contracts/forge-test/PulseGasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/utils/PulseTestUtils.t.sol
Owners: none

add state object / outline of how the keeper will work
  apps/argus/src/keeper/state.rs
Owners: none

chore: remove pre-commit workflow file
  .github/workflows/ci-pre-commit.yml
Owners: @pyth-network/core-team

chore: update turbo config
  .github/workflows/ci-turbo-test.yml
  apps/api-reference/turbo.json
  apps/entropy-debugger/turbo.json
  apps/hermes/client/js/README.md
  apps/hermes/client/js/turbo.json
  apps/insights/turbo.json
  apps/staking/turbo.json
  flake.nix
  governance/xc_admin/packages/xc_admin_frontend/turbo.json
  lazer/contracts/solana/turbo.json
  package.json
  packages/component-library/turbo.json
  target_chains/ethereum/sdk/solidity/turbo.json
  turbo.json
Owners: @pyth-network/web-team, @cprussin

fix: fix message-buffer CI job to run correct prettier version
  .github/workflows/ci-message-buffer.yml
Owners: @pyth-network/core-team

chore: wire up pre-commit to run `turbo fix` on changed packages
  .github/workflows/ci-pre-commit.yml
  .pre-commit-config.yaml
Owners: @pyth-network/core-team

chore: update readme to say turbo should be run with `pnpm turbo`
  README.md
Owners: none

test
  target_chains/ethereum/sdk/js/README.md
Owners: none

update
  target_chains/ethereum/sdk/js/README.md
Owners: none

update
  pnpm-workspace.yaml
  target_chains/ethereum/sdk/solidity/PythAggregatorV3.sol
  target_chains/ethereum/sdk/solidity/README.md
Owners: @pyth-network/web-team

update
  pnpm-workspace.yaml
Owners: @pyth-network/web-team

chore: upgrade all catalog dependencies
  apps/api-reference/package.json
  apps/entropy-debugger/package.json
  apps/insights/package.json
  apps/staking/package.json
  governance/pyth_staking_sdk/package.json
  lazer/sdk/js/package.json
  package.json
  packages/next-root/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @pyth-network/web-team

chore: upgrade nix flake dependencies
  .envrc
  flake.lock
Owners: @cprussin

chore: update cprussin tooling configs
  apps/api-reference/jest.config.js
  apps/entropy-debugger/jest.config.js
  apps/insights/jest.config.js
  apps/staking/jest.config.js
  governance/pyth_staking_sdk/eslint.config.js
  governance/pyth_staking_sdk/jest.config.js
  governance/pyth_staking_sdk/package.json
  governance/pyth_staking_sdk/prettier.config.js
  packages/component-library/tsconfig.json
  packages/fonts/tsconfig.json
Owners: @pyth-network/web-team

chore: upgrade to new shiki api
  apps/api-reference/src/components/Code/shiki.ts
Owners: @pyth-network/web-team

fix: properly handle stringifying values
  apps/insights/src/components/LivePrices/index.tsx
Owners: @pyth-network/web-team

chore: remove unused undefined union options
  apps/api-reference/src/components/Code/use-highlighted-code.tsx
  apps/insights/src/components/PriceName/index.tsx
  apps/insights/src/hooks/use-query-param-filter-pagination.ts
  apps/staking/src/api.ts
  packages/component-library/src/Table/index.tsx
Owners: @pyth-network/web-team

chore: replace `window` with `globalThis`
  apps/insights/src/components/PriceComponentDrawer/index.tsx
  apps/insights/src/components/PriceFeed/chart.tsx
  apps/insights/src/components/PriceFeedChangePercent/index.tsx
  apps/insights/src/components/Root/search-dialog.tsx
  apps/staking/src/components/Root/i18n-provider.tsx
  packages/next-root/src/i18n-provider.tsx
Owners: @pyth-network/web-team

fix: fix deprecations and misused types
  apps/api-reference/src/components/EvmApi/parameter.ts
  apps/insights/src/omit-keys.ts
  apps/staking/src/components/Menu/index.tsx
  apps/staking/tailwind.config.ts
  governance/pyth_staking_sdk/src/utils/position.ts
  packages/component-library/src/Alert/index.stories.tsx
  packages/component-library/src/Card/index.stories.tsx
  packages/component-library/src/Table/index.tsx
  packages/component-library/src/Virtualizer/index.tsx
Owners: @pyth-network/web-team

chore: remove unsupported wallet adapters from staking wallet button
  apps/staking/src/components/WalletProvider/index.tsx
Owners: @pyth-network/web-team

chore: use new lightweight-charts `addSeries` apis
  apps/insights/src/components/PriceFeed/chart.tsx
Owners: @pyth-network/web-team

chore: disable eslint rules in a few specific places
  apps/staking/src/components/Dashboard/index.tsx
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
  governance/pyth_staking_sdk/src/utils/apy.ts
Owners: @pyth-network/web-team

chore: remove error expectations that no longer apply
  apps/staking/src/components/ErrorMessage/index.tsx
  apps/staking/src/components/Faq/index.tsx
  packages/component-library/src/Breadcrumbs/index.tsx
  packages/component-library/src/Drawer/index.tsx
  packages/component-library/src/Paginator/index.tsx
Owners: @pyth-network/web-team

chore: apply new prettier formatting
  apps/staking/src/components/Dashboard/index.tsx
  apps/staking/src/components/Guide/index.tsx
  apps/staking/src/components/NoWalletHome/index.tsx
  packages/component-library/src/theme.scss
  target_chains/sui/cli-iota/src/cli.ts
  target_chains/sui/cli-iota/src/pyth_deploy.ts
  target_chains/sui/cli-iota/src/upgrade_pyth.ts
Owners: @pyth-network/web-team

chore: rewrite staking toasts
  apps/staking/src/components/Root/toast-region.tsx
  apps/staking/src/hooks/use-toast.tsx
Owners: @pyth-network/web-team

fix: don't use catalogs for turbo
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @pyth-network/web-team

fix: fix xc-admin-frontend aka proposals
  governance/xc_admin/packages/xc_admin_frontend/next.config.js
  governance/xc_admin/packages/xc_admin_frontend/package.json
Owners: @pyth-network/web-team

fix: fix staking app tab selected states
  apps/staking/src/components/Dashboard/index.tsx
  apps/staking/src/components/Guide/index.tsx
  apps/staking/src/components/NoWalletHome/index.tsx
Owners: @pyth-network/web-team

update
  target_chains/ethereum/sdk/js/README.md
Owners: none

chore: rebuild pnpm lockfile
  apps/price_pusher/package.json
  governance/xc_admin/packages/xc_admin_cli/package.json
  governance/xc_admin/packages/xc_admin_frontend/components/tabs/General.tsx
  governance/xc_admin/packages/xc_admin_frontend/package.json
  package.json
  patches/eccrypto@1.1.6.patch
  pnpm-lock.yaml
  target_chains/cosmwasm/tools/package.json
  target_chains/cosmwasm/tools/src/ci/deployer/osmosis.ts
Owners: @pyth-network/web-team

fix: fix storybook background color
  packages/component-library/.storybook/preview.tsx
Owners: @pyth-network/web-team

deprecate(pyth-evm-js): Add deprecation notice (#2487)
  target_chains/ethereum/sdk/js/README.md
  target_chains/ethereum/sdk/solidity/PythAggregatorV3.sol
  target_chains/ethereum/sdk/solidity/README.md
Owners: none

with optimizations
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseState.sol
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Owners: none

fix
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseState.sol
Owners: none

cleanup
  target_chains/ethereum/contracts/contracts/pulse/IPulse.sol
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseState.sol
Owners: none

comments
  target_chains/ethereum/contracts/contracts/pulse/PulseState.sol
Owners: none

fix
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseErrors.sol
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
Owners: none

fix(contract-manager) Rename sonic test
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/README.md
  target_chains/ethereum/sdk/js/src/index.ts
Owners: none

update
  apps/entropy-debugger/src/store/entropy-deployments.ts
Owners: @pyth-network/web-team

fix: fix broken wallet adapter in proposals app
  governance/xc_admin/packages/xc_admin_frontend/package.json
  governance/xc_admin/packages/xc_admin_frontend/pages/_app.tsx
  package.json
  patches/eccrypto@1.1.6.patch
  pnpm-lock.yaml
Owners: @pyth-network/web-team
