Repository pyth-network/pyth-crosschain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyth-network/web-team, @pyth-network/core-team, @cprussin

.github/CODEOWNERS:

apps/api-reference @pyth-network/web-team
apps/entropy-debugger @pyth-network/web-team
apps/insights @pyth-network/web-team
apps/staking @pyth-network/web-team
packages/app-logger @pyth-network/web-team
packages/component-library @pyth-network/web-team
packages/fonts @pyth-network/web-team
packages/known-publishers @pyth-network/web-team
packages/next-root @pyth-network/web-team
Dockerfile.node @pyth-network/web-team
lerna.json @pyth-network/web-team
package.json @pyth-network/web-team
pnpm-workspace.yaml @pyth-network/web-team
turbo.json @pyth-network/web-team
.npmrc @pyth-network/web-team
.nvmrc @pyth-network/web-team
/.github/ @pyth-network/core-team
/.github/CODEOWNERS @pyth-network/core-team
.github/workflows/publish-js.yml @pyth-network/web-team
.github/workflows/ci-turbo-build.yml @pyth-network/web-team
.github/workflows/ci-turbo-test.yml @pyth-network/web-team

flake.lock @cprussin
*.nix @cprussin
.envrc @cprussin

feat(argus): implement state.rs module for blockchain state tracking
  apps/argus/src/keeper/state.rs
Owners: none

feat(known-publishers): add Alphanonce to known publishers
  packages/known-publishers/src/icons/monochrome/alphanonce.svg
  packages/known-publishers/src/index.tsx
Owners: @pyth-network/web-team

add prom metrics
  apps/price_pusher/README.md
  apps/price_pusher/alerts.yml
  apps/price_pusher/docker-compose.metrics.sample.yaml
  apps/price_pusher/grafana-dashboard.json
  apps/price_pusher/package.json
  apps/price_pusher/prometheus.yml
  apps/price_pusher/src/controller.ts
  apps/price_pusher/src/evm/command.ts
  apps/price_pusher/src/index.ts
  apps/price_pusher/src/metrics.ts
  apps/price_pusher/src/options.ts
  pnpm-lock.yaml
Owners: @pyth-network/web-team

resolve lock
  pnpm-lock.yaml
Owners: none

feat: add wallet balance metrics and alerts; update price feed metrics
  apps/price_pusher/alerts.yml
  apps/price_pusher/grafana-dashboard.json
  apps/price_pusher/price-config.stable.sample.yaml
  apps/price_pusher/src/controller.ts
  apps/price_pusher/src/evm/command.ts
  apps/price_pusher/src/metrics.ts
Owners: none

fix; revert pnpm lock
  apps/price_pusher/src/controller.ts
  apps/price_pusher/src/evm/command.ts
  apps/price_pusher/src/metrics.ts
  pnpm-lock.yaml
Owners: none

feat: update README with new wallet balance metrics and monitoring instructions
  apps/price_pusher/README.md
Owners: none

chore: add grafana-dashboard.json to .gitignore
  apps/price_pusher/.gitignore
  apps/price_pusher/grafana-dashboard.json
Owners: none

chore: remove commented-out example services from docker-compose.metrics.sample.yaml
  apps/price_pusher/docker-compose.metrics.sample.yaml
Owners: none

remove unused code
  apps/price_pusher/prometheus.yml
Owners: none

upgrade dependencies
  target_chains/starknet/contracts/.tool-versions
  target_chains/starknet/contracts/Scarb.lock
  target_chains/starknet/contracts/Scarb.toml
Owners: none

fix build issue
  target_chains/starknet/contracts/Scarb.lock
  target_chains/starknet/contracts/Scarb.toml
  target_chains/starknet/contracts/src/pyth.cairo
  target_chains/starknet/contracts/src/wormhole.cairo
Owners: none

fix(contract-manager) Rename sonic test (#2493)
  apps/entropy-debugger/src/store/entropy-deployments.ts
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
  target_chains/ethereum/sdk/js/README.md
  target_chains/ethereum/sdk/js/src/index.ts
Owners: @pyth-network/web-team

fix: fix installing libusb in github actions
  .github/workflows/ci-ethereum-contract.yml
  .github/workflows/ci-lazer-solana-contract.yml
  .github/workflows/ci-message-buffer.yml
  .github/workflows/ci-turbo-build.yml
  .github/workflows/ci-turbo-test.yml
  .github/workflows/publish-js.yml
Owners: @pyth-network/core-team, @pyth-network/web-team

fix: fix vercel's use of corepack during the ignoreCommand
  .gitignore
  apps/api-reference/vercel.json
  apps/entropy-debugger/vercel.json
  apps/insights/vercel.json
  apps/staking/vercel.json
  governance/xc_admin/packages/xc_admin_frontend/vercel.json
  packages/component-library/vercel.json
  vercel-ignore.sh
Owners: @pyth-network/web-team

chore(contract-manager) Add custom fees for evm deployment
  contract_manager/scripts/deploy_evm_pricefeed_contracts.ts
Owners: none

fix: fix near contract CI job
  .github/workflows/ci-near-contract.yml
Owners: @pyth-network/core-team

chore: update pyth_solana_receiver_sdk to anchor-lang 0.31.0
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
  target_chains/solana/pyth_solana_receiver_sdk/src/lib.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/price_update.rs
Owners: none

chore: upgrade anchor to 0.31.0
  apps/argus/src/keeper/state.rs
  target_chains/solana/Cargo.lock
  target_chains/solana/programs/pyth-push-oracle/Cargo.toml
  target_chains/solana/programs/pyth-solana-receiver/Cargo.toml
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
  target_chains/solana/pyth_solana_receiver_sdk/src/config.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/lib.rs
  target_chains/solana/pyth_solana_receiver_sdk/src/price_update.rs
Owners: none

remove irrelevant commit
  apps/argus/src/keeper/state.rs
Owners: none

fix: avoid race conditions by checking and storing messages in a single operation
  apps/hermes/server/src/state/aggregate.rs
  apps/hermes/server/src/state/aggregate/wormhole_merkle.rs
  apps/hermes/server/src/state/cache.rs
Owners: none

address readme comments
  apps/price_pusher/README.md
Owners: none

chore: update sample configuration files and README for Grafana and Prometheus
  apps/price_pusher/.gitignore
  apps/price_pusher/README.md
  apps/price_pusher/alerts.sample.yml
  apps/price_pusher/dashboard.sample.yml
  apps/price_pusher/datasource.sample.yml
  apps/price_pusher/docker-compose.metrics.sample.yaml
  apps/price_pusher/grafana-dashboard.sample.json
  apps/price_pusher/prometheus.sample.yml
Owners: none

refactor: simplify metrics handling and enhance README dashboard description
  apps/price_pusher/README.md
  apps/price_pusher/grafana-dashboard.sample.json
  apps/price_pusher/src/controller.ts
  apps/price_pusher/src/metrics.ts
Owners: none

feat: add update conditions tracking and update related metrics in README and dashboard
  apps/price_pusher/README.md
  apps/price_pusher/grafana-dashboard.sample.json
  apps/price_pusher/src/controller.ts
  apps/price_pusher/src/metrics.ts
Owners: none

feat: implement EVM balance tracker and integrate with metrics
  apps/price_pusher/grafana-dashboard.sample.json
  apps/price_pusher/src/balance-tracker/evm.ts
  apps/price_pusher/src/balance-tracker/index.ts
  apps/price_pusher/src/balance-tracker/interface.ts
  apps/price_pusher/src/controller.ts
  apps/price_pusher/src/evm/command.ts
Owners: none

refactor: update Grafana dashboard expressions and simplify error tracking metrics
  apps/price_pusher/grafana-dashboard.sample.json
  apps/price_pusher/src/controller.ts
  apps/price_pusher/src/metrics.ts
Owners: none

feat: update metrics tracking for price updates and errors, enhancing Grafana dashboard descriptions
  apps/price_pusher/README.md
  apps/price_pusher/grafana-dashboard.sample.json
  apps/price_pusher/src/controller.ts
  apps/price_pusher/src/metrics.ts
Owners: none

remove overwrite to cache at same slot test
  apps/hermes/server/src/state/cache.rs
Owners: none

bump to v0.8.3
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
Owners: none

chore(contract-manager) Add custom fees for evm deployment (#2499)
  contract_manager/scripts/deploy_evm_pricefeed_contracts.ts
Owners: none

feat: enhance README and alerts configuration with updated metrics and error tracking
  apps/price_pusher/README.md
  apps/price_pusher/alerts.sample.yml
Owners: none

refactor: reorganize balance tracker files and consolidate interfaces into a single location
  apps/price_pusher/src/balance-tracker.ts
  apps/price_pusher/src/balance-tracker/interface.ts
  apps/price_pusher/src/evm/balance-tracker.ts
  apps/price_pusher/src/interface.ts
Owners: none

chore: bump version to 9.1.2 in price pusher package
  apps/price_pusher/package.json
Owners: @pyth-network/web-team

fix: fix near contract CI job (#2500)
  .github/workflows/ci-near-contract.yml
Owners: @pyth-network/core-team

feat(lazer): add mapping to improve efficiency of evm contract
  lazer/contracts/evm/src/PythLazer.sol
Owners: none

fix: rebuild lockfile again
  pnpm-lock.yaml
Owners: none

chore(lazer): add locked to anchor install in CI
  .github/workflows/ci-lazer-solana-contract.yml
Owners: @pyth-network/core-team

chore(lazer): add locked to anchor install in CI (#2502)
  .github/workflows/ci-lazer-solana-contract.yml
Owners: @pyth-network/core-team

chore: remove solana <2 bound
  target_chains/solana/Cargo.lock
  target_chains/solana/pyth_solana_receiver_sdk/Cargo.toml
Owners: none
