Repository pyth-network/pyth-crosschain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyth-network/web-team, @pyth-network/core-team, @cprussin

fix race condition
  apps/hermes/server/src/state/aggregate.rs
Owners: none

fix(apps/hermes): ensure only one event is sent per slot to prevent duplicates
  apps/hermes/server/src/state/aggregate.rs
Owners: none

fix(tests): correct invalid timestamp in TWAP calculation test
  apps/hermes/server/src/state/aggregate.rs
Owners: none

chore(ci): Fix runs_on for precommit again #2472
  .github/workflows/ci-pre-commit.yml
Owners: @pyth-network/core-team

chore(deployments) Story Testnet (#2450)
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Owners: none

add iota patch
  target_chains/sui/contracts/Move.lock
  target_chains/sui/contracts/Move.toml
  target_chains/sui/contracts/sources/batch_price_attestation.move
  target_chains/sui/contracts/sources/data_source.move
  target_chains/sui/contracts/sources/event.move
  target_chains/sui/contracts/sources/governance/contract_upgrade.move
  target_chains/sui/contracts/sources/governance/set_data_sources.move
  target_chains/sui/contracts/sources/governance/set_stale_price_threshold.move
  target_chains/sui/contracts/sources/governance/set_update_fee.move
  target_chains/sui/contracts/sources/merkle_tree.move
  target_chains/sui/contracts/sources/migrate.move
  target_chains/sui/contracts/sources/price_info.move
  target_chains/sui/contracts/sources/pyth.move
  target_chains/sui/contracts/sources/pyth_accumulator.move
  target_chains/sui/contracts/sources/set.move
  target_chains/sui/contracts/sources/setup.move
  target_chains/sui/contracts/sources/state.move
Owners: none

Add cargo fmt and cargo clippy to CI workflows
  .github/workflows/ci-cosmwasm-contract.yml
  .github/workflows/ci-fortuna.yml
  .github/workflows/ci-fuel-contract.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-lazer-rust.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-solana-contract.yml
Owners: @pyth-network/core-team

refactor: remove toolchain version arguments from cargo commands
  .github/workflows/ci-cosmwasm-contract.yml
  .github/workflows/ci-fortuna.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-lazer-rust.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-solana-contract.yml
Owners: @pyth-network/core-team

update worfklows
  .github/workflows/ci-aptos-contract.yml
  .github/workflows/ci-cosmwasm-contract.yml
  .github/workflows/ci-fuel-contract.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-lazer-rust.yml
  .github/workflows/ci-message-buffer-idl.yml
  .github/workflows/ci-pythnet-sdk.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-solana-contract.yml
Owners: @pyth-network/core-team

trigger workflows on edit
  .github/workflows/ci-aptos-contract.yml
  .github/workflows/ci-cosmwasm-contract.yml
  .github/workflows/ci-fortuna.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-lazer-rust.yml
  .github/workflows/ci-message-buffer.yml
  .github/workflows/ci-pythnet-sdk.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-solana-contract.yml
Owners: @pyth-network/core-team

chore: add test:format and fix:format scripts to all packages
  governance/xc_admin/packages/xc_admin_frontend/package.json
  lazer/sdk/js/package.json
  package.json
  pythnet/message_buffer/package.json
  target_chains/aptos/cli/package.json
  target_chains/cosmwasm/deploy-scripts/package.json
  target_chains/cosmwasm/tools/package.json
  target_chains/ethereum/contracts/package.json
  target_chains/ethereum/sdk/stylus/pyth-mock-solidity/package.json
  target_chains/sui/cli-iota/package.json
  target_chains/sui/cli/package.json
  target_chains/sui/vendor/wormhole_iota_testnet/testing/package.json
  target_chains/sui/vendor/wormhole_movement_m2_devnet/testing/package.json
  target_chains/ton/contracts/package.json
Owners: @pyth-network/web-team

fix workflows
  .github/workflows/ci-aptos-contract.yml
  .github/workflows/ci-fortuna.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-pythnet-sdk.yml
Owners: @pyth-network/core-team

fix aptos
  .github/workflows/ci-aptos-contract.yml
Owners: @pyth-network/core-team

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Owners: none

chore: remove format scripts from vendored dependencies
  target_chains/sui/vendor/wormhole_iota_testnet/testing/package.json
  target_chains/sui/vendor/wormhole_movement_m2_devnet/testing/package.json
Owners: @pyth-network/web-team

hm
  .github/workflows/ci-aptos-contract.yml
  .github/workflows/ci-message-buffer.yml
Owners: @pyth-network/core-team

precommit
  target_chains/sui/sdk/js/src/examples/SuiRelay.ts
Owners: none

feat(target_chains/sui): Use Turbo for Commands (#2469)
  pnpm-lock.yaml
  target_chains/sui/cli/README.md
  target_chains/sui/cli/turbo.json
  target_chains/sui/sdk/js/README.md
  target_chains/sui/sdk/js/package.json
  target_chains/sui/sdk/js/src/examples/SuiRelay.ts
  target_chains/sui/sdk/js/turbo.json
Owners: @pyth-network/web-team

hm
  target_chains/aptos/contracts/sources/governance/governance_action.move
Owners: none

Add Cargo.lock and renable pre-commit CI (#2465)
  .pre-commit-config.yaml
  pythnet/pythnet_sdk/.gitignore
  pythnet/pythnet_sdk/Cargo.lock
Owners: none

pr comments
  target_chains/ethereum/contracts/forge-test/PulseGasBenchmark.t.sol
Owners: none

feat(argus): Delete hash chain logic (#2466)
  apps/argus/src/api.rs
  apps/argus/src/command/register_provider.rs
  apps/argus/src/command/run.rs
  apps/argus/src/command/setup_provider.rs
  apps/argus/src/config.rs
  apps/argus/src/keeper.rs
  apps/argus/src/keeper/commitment.rs
  apps/argus/src/keeper/process_event.rs
  apps/argus/src/lib.rs
  apps/argus/src/state.rs
Owners: none

clean up entropy stuff
  apps/argus/src/api.rs
  apps/argus/src/chain/ethereum.rs
  apps/argus/src/chain/reader.rs
  apps/argus/src/command/run.rs
  apps/argus/src/keeper.rs
  apps/argus/src/keeper/block.rs
  apps/argus/src/keeper/process_event.rs
Owners: none

delete more
  apps/argus/Cargo.lock
  apps/argus/src/chain/ethereum.rs
  apps/argus/src/command/run.rs
  apps/argus/src/keeper/process_event.rs
Owners: none

ci: remove workflow file paths from PR triggers and redundant if conditions
  .github/workflows/ci-aptos-contract.yml
  .github/workflows/ci-cosmwasm-contract.yml
  .github/workflows/ci-fortuna.yml
  .github/workflows/ci-fuel-contract.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-lazer-rust.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-solana-contract.yml
Owners: @pyth-network/core-team

stuff
  apps/argus/Cargo.lock
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
Owners: none

Revert "ci: remove workflow file paths from PR triggers and redundant if conditions"
  .github/workflows/ci-aptos-contract.yml
  .github/workflows/ci-cosmwasm-contract.yml
  .github/workflows/ci-fortuna.yml
  .github/workflows/ci-fuel-contract.yml
  .github/workflows/ci-hermes-server.yml
  .github/workflows/ci-lazer-rust.yml
  .github/workflows/ci-remote-executor.yml
  .github/workflows/ci-solana-contract.yml
Owners: @pyth-network/core-team

wtf
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/chain/reader.rs
  apps/fortuna/src/keeper.rs
  apps/fortuna/src/keeper/block.rs
Owners: none

refactor(apps/hermes): remove slots tracking and optimize message storage checks
  apps/hermes/server/src/state/aggregate.rs
  apps/hermes/server/src/state/aggregate/wormhole_merkle.rs
Owners: none

fix(tests): update invalid timestamp in TWAP calculation test
  apps/hermes/server/src/state/aggregate.rs
Owners: none

log symbol
  apps/price_pusher/package.json
  apps/price_pusher/src/price-config.ts
Owners: @pyth-network/web-team

chore(staking): update terms so we can lift the UK restriction
  apps/staking/src/components/Dashboard/index.tsx
  apps/staking/src/components/TermsOfService/index.tsx
Owners: @pyth-network/web-team

chore(etehreum) Remove pyth evm js
  target_chains/ethereum/sdk/js/.eslintrc.js
  target_chains/ethereum/sdk/js/.gitignore
  target_chains/ethereum/sdk/js/README.md
  target_chains/ethereum/sdk/js/jest.config.js
  target_chains/ethereum/sdk/js/package.json
  target_chains/ethereum/sdk/js/src/EvmPriceServiceConnection.ts
  target_chains/ethereum/sdk/js/src/examples/EvmBenchmark.ts
  target_chains/ethereum/sdk/js/src/examples/EvmPriceServiceClient.ts
  target_chains/ethereum/sdk/js/src/examples/EvmRelay.ts
  target_chains/ethereum/sdk/js/src/index.ts
  target_chains/ethereum/sdk/js/tsconfig.json
  target_chains/ethereum/sdk/solidity/PythAggregatorV3.sol
  target_chains/ethereum/sdk/solidity/README.md
Owners: @pyth-network/web-team

fix(staking): fix header to not overlap on small screen sizes
  apps/staking/src/components/Header/help-menu.tsx
  apps/staking/src/components/Header/index.tsx
  apps/staking/src/components/Header/stats.tsx
Owners: @pyth-network/web-team

fix(staking): fix header on small screens 2: This Time It's Personal
  apps/staking/src/components/AccountSummary/index.tsx
  apps/staking/src/components/Header/current-stake-account.tsx
  apps/staking/src/components/Header/index.tsx
  apps/staking/src/components/Header/stats.tsx
  apps/staking/src/components/Root/index.tsx
  apps/staking/src/components/WalletButton/index.tsx
Owners: @pyth-network/web-team

chore(contracts) Deploy Berachain
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Owners: none

fix: remove redundant libusb install
  .github/workflows/ci-turbo-build.yml
  .github/workflows/ci-turbo-test.yml
  .github/workflows/publish-js.yml
Owners: @pyth-network/web-team

fix ci
  apps/argus/Cargo.lock
  target_chains/ethereum/contracts/forge-test/PulseGasBenchmark.t.sol
Owners: none

chore(contracts) Deploy Berachain (#2484)
  contract_manager/store/chains/EvmChains.yaml
  contract_manager/store/contracts/EvmEntropyContracts.yaml
  contract_manager/store/contracts/EvmPriceFeedContracts.yaml
  contract_manager/store/contracts/EvmWormholeContracts.yaml
  governance/xc_admin/packages/xc_admin_common/src/chains.ts
Owners: none

feat(argus): Delete more unneeded logic (#2486)
  apps/argus/Cargo.lock
  apps/argus/src/api.rs
  apps/argus/src/chain/ethereum.rs
  apps/argus/src/chain/reader.rs
  apps/argus/src/command/run.rs
  apps/argus/src/keeper.rs
  apps/argus/src/keeper/block.rs
  apps/argus/src/keeper/process_event.rs
Owners: none

.github/CODEOWNERS:

apps/api-reference @pyth-network/web-team
apps/entropy-debugger @pyth-network/web-team
apps/insights @pyth-network/web-team
apps/staking @pyth-network/web-team
packages/app-logger @pyth-network/web-team
packages/component-library @pyth-network/web-team
packages/fonts @pyth-network/web-team
packages/known-publishers @pyth-network/web-team
packages/next-root @pyth-network/web-team
Dockerfile.node @pyth-network/web-team
lerna.json @pyth-network/web-team
package.json @pyth-network/web-team
pnpm-workspace.yaml @pyth-network/web-team
turbo.json @pyth-network/web-team
.npmrc @pyth-network/web-team
.nvmrc @pyth-network/web-team
/.github/ @pyth-network/core-team
/.github/CODEOWNERS @pyth-network/core-team
.github/workflows/publish-js.yml @pyth-network/web-team
.github/workflows/ci-turbo-build.yml @pyth-network/web-team
.github/workflows/ci-turbo-test.yml @pyth-network/web-team

flake.lock @cprussin
*.nix @cprussin
.envrc @cprussin
