Repository pyth-network/pyth-crosschain, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pyth-network/web-team, @pyth-network/core-team, @cprussin

chore: upgrade javascript dependencies
  .npmrc
  .nvmrc
  .tool-versions
  Dockerfile.node
  apps/api-reference/src/browser-logger.ts
  apps/insights/src/components/PriceFeed/chart.tsx
  flake.lock
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @pyth-network/web-team, @cprussin

feat(hermes): configurable cache size (#2547)
  .dockerignore
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/config.rs
  apps/hermes/server/src/config/cache.rs
  apps/hermes/server/src/main.rs
Owners: none

feat(insights): publisher table improvements
  apps/insights/src/components/Explanations/index.tsx
  apps/insights/src/components/Publishers/index.tsx
  apps/insights/src/components/Publishers/publishers-card.tsx
  apps/insights/turbo.json
Owners: @pyth-network/web-team

feat(pulse): optimize gas while keeping requests on-chain (#2519)
  target_chains/ethereum/contracts/contracts/pulse/IPulse.sol
  target_chains/ethereum/contracts/contracts/pulse/Pulse.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseErrors.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseEvents.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseState.sol
  target_chains/ethereum/contracts/contracts/pulse/PulseUpgradeable.sol
  target_chains/ethereum/contracts/forge-test/GasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/Pulse.t.sol
  target_chains/ethereum/contracts/forge-test/PulseGasBenchmark.t.sol
  target_chains/ethereum/contracts/forge-test/utils/PulseTestUtils.t.sol
Owners: none

fix: address pr comments
  apps/argus/src/keeper/fulfillment_task.rs
  apps/argus/src/keeper/state.rs
Owners: none

feat(staking): add wallet test page to staking app
  apps/staking/next.config.js
  apps/staking/package.json
  apps/staking/src/app/test/page.tsx
  apps/staking/src/components/WalletTester/index.tsx
  apps/staking/src/components/WalletTester/wallet-tester-idl.json
  apps/staking/src/hooks/use-api.tsx
  governance/pyth_staking_sdk/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @pyth-network/web-team

feat: add override keyword to TwapPriceFeed function in Pyth contract
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
Owners: none

feat: refactor TwapPriceFeed function for improved readability and structure
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/contracts/contracts/pyth/PythInternalStructs.sol
Owners: none

feat: add comments
  target_chains/ethereum/contracts/contracts/pyth/PythInternalStructs.sol
Owners: none

refactor: streamline message extraction and validation logic in PythAccumulator
  target_chains/ethereum/contracts/contracts/pyth/PythAccumulator.sol
Owners: none

chore: rename downSlotRatio to downSlotsRatio
  target_chains/ethereum/contracts/contracts/pyth/Pyth.sol
  target_chains/ethereum/sdk/solidity/IPythEvents.sol
  target_chains/ethereum/sdk/solidity/MockPyth.sol
  target_chains/ethereum/sdk/solidity/PythStructs.sol
  target_chains/ethereum/sdk/solidity/abis/AbstractPyth.json
  target_chains/ethereum/sdk/solidity/abis/IPyth.json
  target_chains/ethereum/sdk/solidity/abis/IPythEvents.json
  target_chains/ethereum/sdk/solidity/abis/MockPyth.json
Owners: none

feat(fortuna): support multiple RPC endpoints with failover capability
  apps/fortuna/Cargo.toml
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/command/inspect.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/config.rs
  apps/fortuna/src/eth_utils/failover_middleware.rs
  apps/fortuna/src/eth_utils/utils.rs
Owners: none

fix: add eth_utils mod.rs to register failover_middleware
  apps/fortuna/src/eth_utils/mod.rs
Owners: none

fix: rename duplicate methods and update references
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/command/generate.rs
  apps/fortuna/src/command/get_request.rs
  apps/fortuna/src/command/inspect.rs
  apps/fortuna/src/command/register_provider.rs
  apps/fortuna/src/command/request_randomness.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/command/setup_provider.rs
  apps/fortuna/src/command/withdraw_fees.rs
  apps/fortuna/src/keeper.rs
Owners: none

fix: add type annotations and fix Provider::try_from issues
  apps/fortuna/src/chain/ethereum.rs
  apps/fortuna/src/command/generate.rs
  apps/fortuna/src/command/get_request.rs
  apps/fortuna/src/command/inspect.rs
  apps/fortuna/src/command/register_provider.rs
  apps/fortuna/src/command/request_randomness.rs
  apps/fortuna/src/command/run.rs
  apps/fortuna/src/command/setup_provider.rs
  apps/fortuna/src/command/withdraw_fees.rs
Owners: none

fix: add type annotation for rpc_metrics in run.rs
  apps/fortuna/src/command/run.rs
Owners: none

refactor(pythnet/pythnet_sdk): add test for update data with fixture
  pythnet/pythnet_sdk/src/wire.rs
Owners: none

feat(insights): update kpis
  apps/insights/src/static-data/stats.tsx
Owners: @pyth-network/web-team

docs: clarify ready endpoint checks for fully hydrated cache
  apps/hermes/server/src/api/rest/ready.rs
Owners: none

style: fix formatting issue in ready.rs
  apps/hermes/server/src/api/rest/ready.rs
Owners: none

feat: add is_ready method to Cache trait and update ready endpoint
  apps/hermes/server/src/api/rest/ready.rs
  apps/hermes/server/src/state/cache.rs
Owners: none

fix: rename is_ready to is_cache_ready to avoid name conflict
  apps/hermes/server/src/api/rest/ready.rs
  apps/hermes/server/src/state/cache.rs
Owners: none

style: fix formatting issues to pass CI
  apps/hermes/server/src/api/rest/ready.rs
  apps/hermes/server/src/state/cache.rs
Owners: none

docs: add documentation for is_cache_ready method
  apps/hermes/server/src/state/cache.rs
Owners: none

feat: update is_cache_ready to check if cache is at least 90% full
  apps/hermes/server/src/state/cache.rs
Owners: none

docs: complete docstring for is_cache_ready method
  apps/hermes/server/src/state/cache.rs
Owners: none

stuff
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
  target_chains/ethereum/entropy_sdk/solidity/EntropyConstants.sol
Owners: none

doc: add docstring
  apps/hermes/server/src/state/cache.rs
Owners: none

pnpm conf
  pnpm-lock.yaml
Owners: none

move file
  target_chains/ethereum/entropy_sdk/solidity/EntropyStatusConstants.sol
Owners: none

refactor status flag
  target_chains/ethereum/contracts/contracts/entropy/Entropy.sol
  target_chains/ethereum/contracts/forge-test/Entropy.t.sol
  target_chains/ethereum/entropy_sdk/solidity/EntropyStructs.sol
  target_chains/ethereum/entropy_sdk/solidity/abis/EntropyEvents.json
  target_chains/ethereum/entropy_sdk/solidity/abis/IEntropy.json
Owners: none

fix: use slots to measure readiness
  apps/hermes/server/Cargo.lock
  apps/hermes/server/Cargo.toml
  apps/hermes/server/src/state/cache.rs
Owners: none

improving the debugger
  apps/entropy-debugger/src/app/page.tsx
  apps/entropy-debugger/src/lib/revelation.ts
Owners: @pyth-network/web-team

Add logging to debug nonfunctional IP allowlist
  apps/staking/src/middleware.ts
Owners: @pyth-network/web-team

feat: use sendTransaction for OIS
  apps/staking/src/hooks/use-api.tsx
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
  governance/pyth_staking_sdk/src/utils/transaction.ts
  governance/pyth_staking_sdk/src/utils/wallet.ts
Owners: @pyth-network/web-team

feat(argus): Implement Keeper state and main request processing loop (#2542)
  apps/argus/Cargo.lock
  apps/argus/Cargo.toml
  apps/argus/src/keeper.rs
  apps/argus/src/keeper/fee.rs
  apps/argus/src/keeper/fulfillment_task.rs
  apps/argus/src/keeper/keeper_metrics.rs
  apps/argus/src/keeper/state.rs
Owners: none

remove integration test
  governance/pyth_staking_sdk/integration-tests/all.test.ts
  governance/pyth_staking_sdk/integration-tests/keypairs/alice.json
  governance/pyth_staking_sdk/integration-tests/keypairs/bob.json
  governance/pyth_staking_sdk/integration-tests/keypairs/localnet-authority.json
  governance/pyth_staking_sdk/integration-tests/keypairs/pyth-mint.json
  governance/pyth_staking_sdk/integration-tests/keys.ts
  governance/pyth_staking_sdk/integration-tests/programs/integrity_pool.so
  governance/pyth_staking_sdk/integration-tests/programs/publisher_caps.so
  governance/pyth_staking_sdk/integration-tests/programs/staking.so
  governance/pyth_staking_sdk/integration-tests/start-validator.ts
Owners: none

fix type
  governance/pyth_staking_sdk/src/pyth-staking-client.ts
Owners: none

fix format
  governance/pyth_staking_sdk/src/utils/transaction.ts
  governance/pyth_staking_sdk/src/utils/wallet.ts
Owners: none

fix type
  governance/pyth_staking_sdk/src/utils/wallet.ts
Owners: none

.github/CODEOWNERS:

apps/api-reference @pyth-network/web-team
apps/entropy-debugger @pyth-network/web-team
apps/insights @pyth-network/web-team
apps/staking @pyth-network/web-team
packages/app-logger @pyth-network/web-team
packages/component-library @pyth-network/web-team
packages/fonts @pyth-network/web-team
packages/known-publishers @pyth-network/web-team
packages/next-root @pyth-network/web-team
Dockerfile.node @pyth-network/web-team
lerna.json @pyth-network/web-team
package.json @pyth-network/web-team
pnpm-workspace.yaml @pyth-network/web-team
turbo.json @pyth-network/web-team
.npmrc @pyth-network/web-team
.nvmrc @pyth-network/web-team
/.github/ @pyth-network/core-team
/.github/CODEOWNERS @pyth-network/core-team
.github/workflows/publish-js.yml @pyth-network/web-team
.github/workflows/ci-turbo-build.yml @pyth-network/web-team
.github/workflows/ci-turbo-test.yml @pyth-network/web-team

flake.lock @cprussin
*.nix @cprussin
.envrc @cprussin
